<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/be.healthconnect.jxbrowserscaling/src/main/java/be/healthconnect/be/healthconnect/jxbrowserscaling/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/be.healthconnect.jxbrowserscaling}/output-6.13-b5-eap.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="be.healthconnect.be.healthconnect.jxbrowserscaling.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="be.healthconnect.jxbrowserscaling"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djavafx.verbose=true -Dprism.verbose=true -Dquantum.verbose=true -Djxbrowser.logging.level=ALL"/>
</launchConfiguration>
